@import '../Login/Login.module.scss';

.goBackButtonContainer {
  display: flex;
  align-items: center;
  padding-bottom: 1.88rem;
  gap: 0.31rem;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .goBackButton {
    padding: 0;
    color: $secondary-900;
    font-size: 1rem;
  }
}
